.field-group{
    width:600px;
    position:relative;
    padding-top:15px
}

.input-field{
    width:30%;
    outline:0;
    border:0;
    margin-top: -40px;
    border:2px solid #999999;
    background: transparent;
    padding:2px 0;
    font-size: large;
    transition:0.2s ease;
    font-family: Inter;
    text-align: center;
}

.input-field:focus{
    box-shadow: none;
    border-image:linear-gradient(to right, #ef5a03, #d1d357);
    border-image-slice:1;
}


/* #ef5a03, #d1d357 */
